<div class="flex items-center justify-between text-black">
    <a class="flex bg-[#FFCB05] px-4 py-2 rounded-full w-[200px] text-center mr-[2rem] font-bold hover:scale-110 transition transition-transform duration-500" href="https://github.com/Kalixto73a">
        <div class="flex justify-center items-center">
            <img 
            class="w-8 h-8" 
            src="https://res.cloudinary.com/dzfqdntdw/image/upload/v1771283983/Black-Github-Logo-PNG-Image_minodc.webp" 
            alt="Usuario"
            />
        </div>
        <div class="flex jusfity-center items-center text-sm pl-6">Álvaro Cervera</div>
    </a>
    <div>
        <a class="ml-[2rem] font-bold" href="https://github.com/Kalixto73a/PokeAPI">© 2026 PokeAPI™All Rights Reserved.</a>
    </div>
</div>
