<div class="flex flex-wrap justify-center pt-6 pb-6 gap-6 px-1">
    <div class="flex flex-col items-center w-[100px] lg:w-[320px] lg:h-[340px] rounded-xl bg-white/30 backdrop-blur-lg shadow-md overflow-hidden p-2 pb-4 transform transition-transform duration-200 hover:scale-105" 
    *ngFor="let pokemon of pokemons">
        <app-sprite-for-each-pokemon [pokemonId]="pokemon.name" class="items-center"></app-sprite-for-each-pokemon>
        <h2 class="uppercase gap-2 text-[0.8rem] lg:text-[2rem]">{{ pokemon.name }}</h2>
    </div>
</div>
<div class="flex justify-center gap-[1rem] pb-[2rem]">
    <button (click)="prevPage()" [disabled] ="query.offset === 0 || loading" class="bg-[#FFCB05] border-0 cursor-pointer p-2 rounded-lg transition duration-200 hover:brightness-90 active:brightness-75 outline-none">
        <img class="w-[60px] h-[60px] lg:w-[100px] lg:h-[100px]" src="https://res.cloudinary.com/dzfqdntdw/image/upload/v1766026502/pngtree-vector-right-arrow-icon-png-image_956430_wvg8sk_a_hflip_woys9e_e_background_removal_f_png_nyuaju.png" alt="Previous Page Button">
    </button>
    <button (click)="nextPage()" [disabled] ="loading" class="bg-[#FFCB05] border-0 cursor-pointer p-2 rounded-lg transition duration-200 hover:brightness-90 active:brightness-75 outline-none">
        <img class="w-[60px] h-[60px] lg:w-[100px] lg:h-[100px]" src="https://res.cloudinary.com/dzfqdntdw/image/upload/v1766026449/pngtree-vector-right-arrow-icon-png-image_956430_wvg8sk_e_background_removal_f_png_satefl.png" alt="Next Page Button">
    </button>
</div>