.grid {
  display: flex;
  flex-wrap: wrap;          
  justify-content: center;  
  gap: 1.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 991px) {
    width: clamp(130px, 22vw, 160px);
  }
  @media (min-width: 992px) {
    width: clamp(210px, 15vw, 220px);
  }
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.3);  
  backdrop-filter: blur(10px);                 
  -webkit-backdrop-filter: blur(10px);         
  box-shadow: 0 4px 12px rgba(0,0,0,.15);
  overflow: hidden;
  padding: 0.5rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: scale(1.05);       
  cursor: pointer;             
}

h2 {
  
    font-size: clamp(1rem, 2vw, 1.5rem);
    transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

button {
  background-color: #FFCB05; 
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  transition: transform 0.2s ease;
  border-radius: 8px;
  filter: brightness(100%);
  transition: filter 0.3s ease;
  -webkit-tap-highlight-color: transparent;
}

button:hover {
    filter: brightness(85%);
}

button:active {
    filter: brightness(70%);
}


.imageButton {
  @media (max-width: 991px) {
    width: 60px;
    height: 60px;
  }
  @media (min-width: 992px) {
    width: 100px;
    height: 100px;
  }
}