<div class="w-full flex justify-center xl:justify-start xl:pl-7 py-3 px-3">
  <button (click)="goBack()" class="w-full sm:w-[15rem]">
    <div class="bg-[#FFCB05] flex flex-row items-center justify-center rounded-xl p-3 group">
      <svg
        class="w-8 xl:w-[3rem] h-auto xl:transition-transform xl:duration-500 ease-in-out group-hover:rotate-[360deg]"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"/>
      </svg>
      <div class="font-bold ml-2 text-sm sm:text-base">
        Go Back To Region
      </div>
    </div>
  </button>
</div>
<div class="max-w-full mx-auto p-3 sm:p-6 font-bold uppercase">
  <div class="grid grid-cols-1 xl:grid-cols-9 gap-6 bg-white/30 rounded-2xl p-4 sm:p-6 xl:p-[4rem] border-2 border-[#FFCB05]">
    <div class="xl:col-span-3 flex flex-col items-center space-y-4">
      <div class="w-[300px] h-[300px] sm:w-[300px] sm:h-[300px] xl:w-[300px] xl:h-[300px] rounded-full overflow-hidden border-4 bg-black flex items-center justify-center shadow-[0_0_8px_2px_rgba(255,255,255,0.4)]">
        <app-sprite-for-each-pokemon [pokemonId]="pokemonId" [shiny]="isShiny" [selectedVariantIndex]="selectedVariantIndex" (variantsLoaded)="onVariantsLoaded($event)" (variantTypesChanged)="onVariantTypesChanged($event)">
        </app-sprite-for-each-pokemon>
      </div>
      <div class="flex flex-wrap justify-center items-center gap-2">
        <div *ngIf="totalVariants > 1" class="relative w-[14rem]">
            <button (click)="openDropdown = !openDropdown" class="w-full h-12 bg-white border-2 border-black rounded-lg py-2 px-4 font-bold shadow-md text-center flex justify-between items-center uppercase" [ngStyle]="{ background: statsBackground }">
              {{ variantNames[selectedVariantIndex] | titlecase }}
              <svg class="w-4 h-4 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M19 9l-7 7-7-7"/>
              </svg>
            </button>
            <ul *ngIf="openDropdown" class="absolute w-full overflow-auto custom-scroll max-h-[11rem] border-2 border-black rounded-lg mt-1 shadow-lg z-50" [ngStyle]="{ background: statsBackground }">
              <li *ngFor="let name of variantNames; let idx = index" (click)="onVariantSelect(idx); openDropdown = false"class="text-center font-bold py-2 cursor-pointer hover:bg-white/40">
                {{ name | titlecase }}
              </li>
            </ul>
          </div>
        <button *ngIf="currentVariantHasShiny" (click)="toggleShiny()">
          <img
            [src]="isShiny
              ? 'https://res.cloudinary.com/dzfqdntdw/image/upload/v1771177585/Shine_1_j6yoln.png'
              : 'https://res.cloudinary.com/dzfqdntdw/image/upload/v1770234616/Shine_rmz6tl.png'"
            class="w-12 h-12 sm:w-14 sm:h-14"
            draggable="false"/>
        </button>
      </div>
      <div class="flex flex-col sm:flex-row items-center gap-6 text-center">
        <div>
          <div class="text-xl sm:text-2xl">
            {{ variantNames.length > 1
              ? variantNames[selectedVariantIndex]
              : pokemon.name }}
          </div>
          <app-pokemon-number [pokemonId]="pokemonId"></app-pokemon-number>
        </div>
        <div class="w-20 h-20 bg-cover bg-center flex items-center justify-center" style="background-image:url('https://res.cloudinary.com/dzfqdntdw/image/upload/v1770231053/kilogramo_mbfvwr.png')">
          <div class="text-[0.7rem] font-semibold mt-4">
            {{ getWeightInKg(pokemon.weight) }} kg
          </div>
        </div>
      </div>
      <app-pokemon-types [types]="currentTypes"></app-pokemon-types>
    </div>
    <div class="justify-center xl:col-span-6 rounded-2xl p-4 sm:p-6 xl:px-[4rem] border-4 border-black flex flex-col" [ngStyle]="{ background: statsBackground }">
      <div class="grid grid-cols-1 xl:grid-cols-8 gap-6">
        <div class="xl:col-span-4">
          <h3 class="text-center text-xl my-4">Stats</h3>
          <div class="space-y-7 flex flex-col items-center">
            <div *ngFor="let s of pokemon.stats; let i=index" class="flex flex-col sm:flex-row items-center gap-2 mb-3">
              <div class="w-40 text-center">
                {{ s.stat.name }}
              </div>
              <div class="w-7 text-center">
                {{ s.base_stat }}
              </div>
              <div class="h-[1rem] bg-black rounded-full overflow-hidden w-[250px] md:w-[450px] lg:w-[500px] xl:w-[130px] 2xl:w-[215px]">
                <div
                  class="h-full bg-white transition-all duration-1000"
                  [style.width.%]="statsWidths[i] || 0">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="justify-center xl:col-span-4 flex flex-col items-center">
          <h3 class="pb-4 text-lg text-center">
            {{ originRegionName }}
          </h3>
          <img *ngIf="regionId" [src]="originRegionImage" class="w-full max-w-[500px] rounded-xl border-4 border-black" draggable="false"/>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pb-6 px-3 sm:px-6">
  <div class="bg-white/30 rounded-2xl p-3 sm:p-4 border-2 border-[#FFCB05]">
    <app-pokemon-evolution-chain *ngIf="pokemon.species" [speciesUrl]="pokemon.species.url" [pokemonId]="pokemon.id" class="flex flex-wrap justify-center">
    </app-pokemon-evolution-chain>
  </div>
</div>