.image-container {
  width: 100%;
  height: 220px;               
  display: flex;
  align-items: center;
  justify-content: center;
}

img{
  width: 100%;
  height: 300px;
  object-fit: contain;         
}