body.swal2-shown {
  padding-right: 0 !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "pokemonFont";
  src: url("./assets/fonts/pokemonSolid.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@layer utilities {
  .hover-stroke-yellow {
  color: black;
  text-shadow: none;
  transition: text-shadow 0.3s ease;
  }

  .text-shadow {
  text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
  }

  .hover-stroke-yellow:hover {
  text-shadow: 
    2px 0 #FFCB05,
    -2px 0 #FFCB05,
    0 2px #FFCB05,
    0 -2px #FFCB05,
    1px 1px #FFCB05,
    -1px 1px #FFCB05,
    1px -1px #FFCB05,
    -1px -1px #FFCB05;
  }

  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .custom-scroll::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scroll::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scroll::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.4);
    border-radius: 10px;
  }

  .custom-scroll::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,0.7);
  }

  .custom-scroll {
    scrollbar-width: thin;
    scrollbar-color: rgba(0,0,0,0.4) transparent;
  }
}